@import "../../app.scss";

view.function-list {
    margin-top: 20px;
    padding: 0 0 !important;
    width: 100% !important;

    view.function {
        padding: 0 20px;
        width: calc( 100% - 40px );
        height: 55px;
        
        > view {
            height: 100%;
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgba($color: #000000, $alpha: .1);

            image.func-icon {
                width: 26px;
                height: 26px;
            }

            view {
                margin-left: 15px;
                flex-grow: 1;
                font-size: .9em;
            }

            image.arrow {
                width: 10px;
                height: 10px;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    view.function-list view.function > view {
      border-bottom: 1px solid rgba($color: #ffffff, $alpha: .1);
    }
  }