@import "../../app.scss";
//主要功能
view.MainFuction {
  height: 80px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 8px;

  view.BranchFuntion {
      margin-top: 12px;
      margin-bottom: 12px;
      float: left;
      width: 25%;
      border-right: 1px solid gainsboro;

      image.MFimage{
        padding-top: 3%;
        padding-left: 25%;
        height: 50%;
        width: 50%;
      }

      view.MFfont {
        text-align: center;
        font-size: 10px;
        margin: 5px 0;
        letter-spacing:2px;
      }
  }
}

@media (prefers-color-scheme: dark) {
  view.container view.user-card view.avatar{
      filter: brightness(.8);
  }
}