@import "../../app.scss";

// 用户卡片
view.user-card {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    view.avatar {
        flex-basis: 80px;
        width: 80px;
        height: 80px;
        border-radius: 1000px;
        flex-shrink: 0;
        overflow: hidden;
    }
    
    view.info {
        flex-grow: 1;
        padding-left: 20px;
        max-width: calc(100% - 80px - 20px);

        view.theme {
            width: 100%;
            padding: 20px 0 10px 0;
            display: flex;
            justify-content: flex-end;

            image {
                width: 23px;
                height: 23px;
            }
        }
        
        view.nick {
            margin-bottom: 6px;
            word-break: keep-all;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        // 学生信息
        view.student {
            display: flex;
            align-items: center;
            
            view.certified {
                color: $theme-color-blue;
                border: 1px solid $theme-color-blue;
                border-radius: 4px;
                margin-left: .3em;
                font-size: .85em;
                height: 1.2em;
                padding: 0 2px;
                display: flex;
                justify-content: center;
                align-items: center;

                image.text-icon {
                    margin-left: .25em;
                    width: 10px;
                    height: 10px;
                }
            }
        }

        view.student-id {
            margin-bottom: 3px;
        }

        view.school {
            text-align: right;
            padding: 10px 0 20px 0;
        }
    }
}

@media (prefers-color-scheme: dark) {
    view.container view.user-card view.avatar{
        filter: brightness(.8);
    }
}