@import "../../app.scss";

// 用户卡片
view.user-card {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    view.avatar {
        width: 70px;
        height: 70px;
        border-radius: 1000px;
        overflow: hidden;
    }
    
    view.info {
        flex-grow: 1;
        padding-left: 20px;

        view.theme {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            image {
                width: 25px;
                height: 25px;
            }
        }
        
        view.nick {
            margin: 4px 0;
        }

        view.student {
            margin: 1px 0;
        }
    }
}

@media (prefers-color-scheme: dark) {
    view.container view.user-card view.avatar{
        filter: brightness(.8);
    }
}