@import "../../app.scss";

// 用户卡片
view.user-card {
    margin-top: 20px;
    height: 100px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;

    view.avatar {
        width: 80px;
        height: 80px;
        border-radius: 1000px;
        overflow: hidden;
    }
    
    view.info {
        width: calc(100% - 80px - 20px);
        padding-left: 20px;
        
        view.nick {
            margin: 4px 0;
        }

        view.student {
            margin: 1px 0;
        }
    }
}

@media (prefers-color-scheme: dark) {
    view.container view.user-card view.avatar{
        filter: brightness(.8);
    }
}