@import "../../app.scss";

view.popups {
    position: fixed;
    width: 75%;
    height: 75%;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: $theme-color-light-layout;
    border-radius: 15px;
    z-index: 2;
}
view.popups.block {
    display: block;
}
view.popups.none {
    display: none;
}

view.popups.show {
    animation-duration: 0.5s;
    animation-name: show;
}

view.popups.hide {
    animation-duration: 0.5s;
    animation-name: hide;
}

@keyframes show{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hide{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}